# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Django
# =========================
*.log

# SQLite database
db.sqlite3
db.sqlite3-journal

# =========================
# Static / Media
# =========================
staticfiles/
media/

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/
.tox/

# =========================
# Type Checking
# =========================
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
*.bak
*.swp
